/* Navigation Bar & basic Html code */

html {
  line-height: 1.618em;
  font-family: Georgia, Lora, serif;
  font-size: 18px;
  padding: 30px;
}

h1 {
  font-size: 40px;
  text-align: center;
  line-height: 1.2em;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

.nav a {
  font-size: 20px;
  padding: 10px;
  display: block;
  text-decoration: none;
  background: gray;
  color: #000000;
}

.nav a:hover {
  background: #666666;
}

.nav li {
  text-align: center;
}

.nav {
  padding-top: 2.5em;
  padding-bottom: 6em;
}

/* Homepage CSS Code Starts */

.center {
  margin-left: auto;
  margin-right: auto;
  display: block
}

.index {
  text-align: left;
  font-family: 'Cormorant Garamond', serif;
}

.border {
  padding: 15px;
}

* {
  box-sizing: border-box;
}

/* Slideshow & Video border code */

.container {
  margin: 50px auto;
  width: 600px;
  height: 450px;
  overflow: hidden;
  display: block;
  border: 10px solid;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
  position: relative;
}

/* Slideshow code */
.photo {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

img.photo:nth-child(1) {
  animation-delay: 16s;
  width: 600px;
  height: 450px;
}

img.photo:nth-child(2) {
  animation-delay: 12s;
  width: 600px;
  height: 425px;
}

img.photo:nth-child(3) {
  animation-delay: 8s;
  width: 550px;
  height: 400px;
}

img.photo:nth-child(4) {
  animation-delay: 4s;
  width: 600px;
  height: 450px;
}

img.photo:nth-child(5) {
  animation-delay: 0s;
  width: 600px;
  height: 425px;
}	

/* Create three equal columns that floats next to each other */

.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 300px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

/* Site link code */

.site_link {
  text-align: center;
  margin-right: 150px;
  text-justify: auto;
  font-weight: bold;
}
/*Homepage CSS Code Ends*/
