/* Navigation Bar & basic Html code */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Playfair+Display&display=swap');


/* Paletton Color Scheme Below */
/* https://paletton.com/#uid=10y0u0k7Vu+1uRw4gFocmqnhqlS */


html {
  line-height: 1.618em;
  font-family: Georgia, serif;
  font-size: 18px;
  padding: 30px;
  /*max-width:1440px;*/
  background-color: #F7D8BA;
}

h1 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  color: #706254;
  text-align: center;
  line-height: 1.2em;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

.nav a{
  border-top: solid;
  border-bottom: solid;
}

.nav a {
  font-size: 20px;
  padding: 10px;
  display: block;
  text-decoration: none;
  background: #F7D8BA;
  color: #000000;
}

.nav a:hover {
  /*background: #666666;*/
  border-top: solid #AB9084;
  border-bottom: solid #AB9084;
  color: #705F56;
}
.nav li {
  text-align: center;
}
.nav {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

/*ABOUT PAGE CODE STARTS*/
.description {
  text-align: center;
  padding-left: 5em;
  padding-right: 5em;
}

.rowflex {
  display: flex;
  justify-content: center;
}

figure.philosophy,
figure.diversity,
figure.justice {
  text-align: center;
  padding: 20px;
}
.members {
  text-align: center;
}

.objectives {
  text-align:center;
}

.founders {
  padding-top: 2em;
  padding-bottom: 1.5em;
  text-align: center;
  font-size: 30px;
}

.list {
  list-style-type: circle;
}

figcaption,
.description {
  padding-bottom: 20px;
}

.button {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 0.4em;
  width: 7.2em;
  border: none;
  background-color: #D2A981;
  color: #000000;
}
.center {
  display: flex;
  padding-bottom: 35px;
}

/* Homepage CSS Code Starts */

.index {
  text-align: left;
  font-family: 'Cormorant Garamond', serif;
}

.border {
  padding: 15px;
}

* {
  box-sizing: border-box;
}

/* Slideshow & Video border code */
.container {
  margin: 50px auto;
  width: 600px;
  height: 450px;
  overflow: hidden;
  display: block;
  border: 10px solid;
  border-top-color: #856036;
  border-left-color: #5d4426;
  border-bottom-color: #856036;
  border-right-color: #5d4426;
  position: relative;
}

/* Slideshow code */
#slide {
  position: absolute;
  /* animation: round 16s infinite; */
  /* opacity: 0; */
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.column1 {
  float: left;
  width: 33%;
  padding: 10px;
  height: 310px;
  background-color:#F9E4CF
}

.column2 {
  float: left;
  width: 33%;
  padding: 10px;
  height: 310px;
  background-color:#FFEEDD
}

.column3 {
  float: left;
  width: 33%;
  padding: 10px;
  height: 310px;
  background-color:#FFF9F3
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

/* Site link code */

.site_link {
  text-align: center;
  margin-right: 150px;
  text-justify: auto;
  font-weight: bold;
}
/*Homepage CSS Code Ends*/

/* CONTACT PAGE CODE */
form {
  margin-top:2em;
  text-align:center;
}

#contactHeader{
  margin-top: 0px;
  text-align:center;
}

#inputArea {
  background:url("../media/plato-2.jpg");
  background-position: 50% 0;
  background-repeat:no-repeat;
  text-align: center;
  min-height: 467px;
  max-height: 467px;
}

#formh3 {
  color: white;
  padding-top: 1em;
}

#formp {
  color: lightgrey;
  padding: 0 5px;
}

#inputArea ul {
  height: 81%;
  padding: 0 0 68px 0;
}

#inputArea li{
  padding: 5px;
  height:25%;
}

#inputArea li input{
  border: none;
  background: rgb(255, 255, 255, 0.8);
  border-radius: 2px;
  padding-left: 3px;
  padding:5px;
  /*width:300px;*/
  width: 95%;
  height:40px;
}

textarea{
  border: none;
  background: rgb(255, 255, 255, 0.8);
  border-radius: 2px;
  padding-left: 3px;
  /*width: 305px;*/
  width: 95%;
}

#submitId{
  width:300px;
  margin-top:10px;
  padding: 10px;
  background-color:#3B291A;
  color: #F7D8BA;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  border-style: solid solid solid solid;
  border-color: white grey grey white;
  border-radius: 6px;
  box-shadow: 2px 2px 2px;
}

#mediaLinks{
  margin-top:10px;
}

#mediaLinks a{
  text-decoration: none;
  padding-top:5px;
}

#fbLogo {
  width:20px;
  height:22px;
}

#liLogo{
  width:22px;
  height:22px;
}

#gpLogo {
  width:20px;
  height:20px;
}

#pageFooter {
  visibility: hidden;
  display: none;
}
/* END CONTACT PAGE CODE */
@media only screen and (min-width: 480px) {

  html{
    width:100%;
  }
  .nav li {
    float: left;
    width: 25%;
    text-align: center;
  }
  .nav {
    padding-top: 2.5em;
    padding-bottom: 5em;
  }
  /* About code */
  img {
    max-width: 100%;
  }
  .description {
    padding-top: 2em;
  }
  /*About code end */

  /* CONTACT PAGE CODE */
  #contactP{
    line-height: 1em;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  #inputArea{
    text-align: center;
    height: 300px;
  }

  #inputArea ul {
    height:81%;
  }

  #inputArea li{
    padding: 10px;
    height:22%;
  }

  #inputArea li input{
    width: 350px;
  }

  textarea{
    width:346px;
  }

  #pageFooter {
    border-top: 2px solid;
    visibility: visible;
    background: #F7D8BA;
    width: 100%;
    padding:10px;
    display: inline-block;
    text-align:left;

  }

  #pageFooter table{
    margin-left: auto;
    margin-right: auto;
  }

  #pageFooter th{
    /*padding: 0 20px;*/
    padding: 0 4vw;
    text-decoration: none;
  }

  #pageFooter a{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    color: #403830;
  }


  #colName {
    font-weight: bold;
    font-size: 0.9em;
  }
  /* END CONTACT PAGE CODE*/
}

@media only screen and (min-width: 768px){
  html{
    max-width: 1440px;
  }
  /*ABOUT PAGE CODE */
  img {
    max-width: none;
  }
  .mainflex {
    display: flex;
    justify-content: center;
  }
  .members {
    display: flex;
  }
  .desc, figcaption {
    padding-left: 120px;
    padding-right: 120px;
  }
  /* ABOUT PAGE ENDS */

  /* CONTACT PAGE CODE */
  form{
    text-align:left;
    padding-left: 15px;
  }

  #contactP{
    line-height: 1em;
    padding-bottom: 10px;
    width: 60%;
  }

  #contactHeader{
    text-align: left;
    padding-left:15px;
  }

  #inputArea{
    text-align:left;
    padding: 20px;
    min-width: 452px;
    width:60%;
    max-width: 750px;
    height:350px;
    border: 2px ;
    border-style:groove;
  }

  #inputArea ul{
    padding-bottom: 0px;
  }

  #inputArea li{
    padding: 10px;
  }

  #inputArea li input{
    width: 100%;
    max-width: 20em;

  }

  textArea{
    min-width: 365px;
    width:75%;
  }

  #submitDiv {
    padding-left: 0px;
  }

  #submitId {
    width: 200px;
  }


  #pageFooter th{
    padding: 0 8vw;
  }

  /* END CONTACT PAGE CODE */
}
